### JAVA ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.apt_generated_tests
.factorypath
.springBeans
.sts4-cache

### VS Code ###

### NODE.JS###
**/node_modules

### OTHER ###
HELP.md
.DS_Store

### BUILD ###
# **/java-services.jar